name: check-build
permissions:
  contents: read
  
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build ${{ matrix.job.version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        job:
          - { version: '2.0.18', tls: true, no_tls: true }
          - { version: '2.0.22', tls: true, no_tls: true }
          - { version: '2.1.0-develop', tls: true, no_tls: false }

    env:
      VERSION: ${{ matrix.job.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: mlugg/setup-zig@v2
        with:
          version: "0.15.1"

      - uses: extractions/setup-just@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          install-only: true

      - name: Build with tls
        if: ${{ matrix.job.tls }}
        run: just build

      - name: Build without tls
        if: ${{ matrix.job.no_tls }}
        run: just build-notls
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mosquitto-${{ matrix.job.version }}
          path: dist/*.*

  check-build:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
    - name: Fail on workflow error
      run: exit 1
      if: >-
        ${{
          contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped')
        }}
